<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="/socket.io/socket.io.js"></script>
    <script src="./carrito.js"></script>
    <link rel="stylesheet" href="./style.css">
     <script src="https://kit.fontawesome.com/4834373349.js" crossorigin="anonymous"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
   
 <div class="navBarContainer">
    <b class="NavBarLogo">Tech-Store</b>
    <ul class="navLinkList">
      <li><a href="/productosFaker" >Productos Faker</a></li>
      <li><a href="/info">Informacion</a></li>
      <li><a href="/">Home</a></li>
      <form action="/auth/logout" method="get" id="btnLogout">
      <button type="submit" value="submit" class="btnLogOut" style="margin: 10px"><i class="fa-solid fa-right-from-bracket"></i> Desloguearse</button>
      </form> 
    </ul>
  </div>

 <h1>Productos en carrito</h1>
    <div class="productoCarritoContenedor">
    
    {{#each productos}}
            <div class="productoItem">
            <h3 class="nombreProducto">{{name}}</h1>
            <h4 class="precioProducto">{{price}}</h2>
            <img src={{image}} alt="imagen" width="200px">
            <button value={{id}} id="btnEliminarProductoCarrito" onclick="eliminarProducto(this.value)">Eliminar</button>
        </div>
    {{/each}}

    <b class="cantidadPagar">Precio Total: <span class="cantidad">{{precioTotal}}$</span></b>
    <button onclick="hacerCompra(this.value)" value={{user}} class="btnComprarCarritos">Comprar</button>
    </div>
</body>
</html>