<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
     <script src="https://kit.fontawesome.com/4834373349.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="navBarContainer">
    <b class="NavBarLogo">Tech-Store</b>
    <ul class="navLinkList">
      <li><a href="/productosFaker" >Productos Faker</a></li>
      <li><a href="/carrito">carrito</a></li>
      <li><a href="/">Home</a></li>
      <form action="/auth/logout" method="get" id="btnLogout">
      <button type="submit" value="submit" class="btnLogOut" style="margin: 10px"><i class="fa-solid fa-right-from-bracket"></i> Desloguearse</button>
      </form> 
    </ul>
  </div>

     <div class="dataContenedor">
          <h1 class="tituloInfo">Memoria en uso: </h1>
    <ul class="listaInfo">
        <li><b>RSS:</b> {{{data.memoriaEnUso.rss}}}</li>
        <li><b>HeapTotal:</b> {{{data.memoriaEnUso.heapTotal}}}</li>
        <li><b>HeapUsed:</b> {{{data.memoriaEnUso.heapUsed}}}</li>
        <li><b>External:</b> {{{data.memoriaEnUso.external}}}</li>
        <li><b>Array-Buffer:</b> {{{data.memoriaEnUso.arrayBuffers}}}</li>

    </ul>
    </div>


    <div class="contenedorInformacionProceso">
         <h1 class="tituloInfo">Informacion del proceso:</h1>
          <ul class="listaInfo">
            <li><b>Plataforma:</b> {{{data.plataforma}}}</li>
            <li><b>Id del proceso:</b> {{{data.idProceso}}}</li>
            <li><b>directorio actual:</b> {{{data.directorio}}}</li>
            <li><b>Titulo del proceso:</b> {{{data.tituloProceso}}}</li>
            <li><b>version de Node.js:</b> {{{data.version}}}</li>
            <li><b>Procesadores: </b> {{{data.procesadores}}}</li>
    </ul>
    </div>

      <div class="navegacionArea">
        <button class="btnProductoFaker"><a href="/productosFaker" style="color:rgb(255, 255, 255)">Productos Faker</a></button>
        <button class="btnInformacion"><a href="/" style="color:rgb(255, 255, 255)">Home</a></button>
      </div>

</body>
</html>